{{ $gallery := partial "get-gallery.html" . }}
{{ with $gallery }}
  {{ $p := .page }}
  <a class="card" href="{{ $p.RelPermalink }}" title="{{ $p.Title }}">
    <figure style="background-color: {{ .color }}">
      <img class="lazyload" width="{{ .thumbnail.Width }}" height="{{ .thumbnail.Height }}" data-src="{{ .thumbnail.RelPermalink }}" alt="{{ $p.Title }}" />
    </figure>
    <div>
      <h2>{{ $p.Title }}</h2>
      <p>
        {{- if $p.Params.card_label -}}
          {{ len (where $p.RegularPagesRecursive "Params.private" "ne" true) }} {{ $p.Params.card_label }}
        {{- else if not $p.Date.IsZero -}}
          {{ $p.Date.Format "January 2006" }}
        {{- end -}}
      </p>
    </div>
  </a>
{{ end }}
